@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Roboto&display=swap");
:root {
  /* colors */
  --primary: #007b94; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #333;
  font-family: Roboto, sans-serif; }

h1 {
  font-family: Merienda sans-serif; }

h2 {
  font-size: 2rem; }

h2:after {
  display: block;
  height: 3px;
  background-color: var(--primary);
  content: "";
  width: 150px;
  margin: 20px auto; }

h3 {
  font-size: 110%;
  margin-bottom: 15px;
  text-transform: uppercase; }

/* BUTTONS*/
.button {
  border-radius: 98px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center; }
  .button__full {
    background: #0097b6;
    background-image: linear-gradient(to bottom, #0097b6, #00b3d8);
    box-shadow: 0px 20px 23px 0px #000000;
    border: solid #0097b6 1px; }
  .button__ghost {
    background: transparent;
    border: solid #0097b6 1px; }
  .button:hover {
    border: solid #3d94f6 1px;
    background: #1e62d0;
    background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
    border-radius: 100px;
    text-decoration: none; }
  .button:active {
    transform: translateY(3px);
    box-shadow: 0px 5px 5px 0px #000000; }

input[type=submit] {
  border-radius: 98px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 20px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  background: #0097b6;
  background-image: linear-gradient(to bottom, #0097b6, #00b3d8);
  box-shadow: 0px 20px 23px 0px #000000;
  border: solid #0097b6 1px; }
  input[type=submit]:hover {
    border: solid #3d94f6 1px;
    background: #1e62d0;
    background-image: linear-gradient(to bottom, #1e62d0, #3d94f6);
    border-radius: 100px;
    text-decoration: none; }
  input[type=submit]:active {
    transform: translateY(3px);
    box-shadow: 0px 5px 5px 0px #000000; }

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: .3rem; }
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2px solid #007b94; }

.navbar-brand {
  margin-left: 2rem;
  font-size: 1.5rem; }

.icon-big {
  color: #007b94;
  font-size: 3rem;
  margin-bottom: 1rem; }

.icon-small {
  color: #007b94;
  font-size: 1.3rem; }

.whatsapp {
  color: #075e54;
  font-size: 1.3rem; }

/* SECTIONS */
#section_home {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: center; }

/* Heading*/
.heading-text-box {
  display: block;
  margin-left: 3rem; }

.heading-primary-main {
  font-family: Merienda, sans-serif;
  font-weight: 700;
  color: white; }
  @media screen and (max-width: 600px) {
    .heading-primary-main {
      font-size: 1rem; } }

.heading-primary-sub {
  font-family: Merienda, sans-serif;
  font-weight: 700;
  color: white; }

/*ICONS*/
#section-projets {
  padding: 20px 0;
  background-color: #eee; }

.box-image {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden; }
  .box-image img {
    opacity: 0.7;
    transform: scale(1.2);
    transition: transform 0.4s, opacity 0.4s; }
    .box-image img:hover {
      opacity: 1;
      transform: scale(1.03);
      background-color: #fff; }
  .box-image .image1-description {
    position: absolute;
    top: 70%;
    height: 150px;
    text-align: center;
    z-index: 10;
    color: white;
    font-size: 1.5rem;
    transform: translateY(50px);
    transition: all .3s;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0; }

.box-image:hover .image1-description {
  opacity: 1;
  transform: translateY(0); }

/*SECTION SERVICES */
#section-services {
  padding: 20px 0;
  background-color: #eee; }

.flyer {
  border-radius: 20px; }

.services-box {
  margin-top: 5rem; }

.service {
  margin: 3rem auto; }
  .service h3 {
    color: #007b94; }

/*Section equipe */
#section-equipe {
  color: #eee;
  padding: 20px 0;
  background-color: #007b94; }

@media screen and (max-width: 991px) {
  .team {
    float: left; } }

/*CONTACT*/
#section-contact {
  padding: 20px 0; }

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 2px solid #007b94;
  margin: 10px 5px 10px 0px; }

*focus {
  outline: none; }

input[type=submit] {
  cursor: pointer; }

textarea {
  height: 200px;
  margin-top: 20px; }

input[type=checkbox] {
  margin: 10px 5px 10px 0px; }

/*FOOTER*/
#section-footer {
  padding: 20px 0; }

.footer-nav {
  margin-top: 50px; }
  .footer-nav__items {
    list-style: none;
    margin-left: 10%; }
  .footer-nav__item {
    display: inline-block;
    float: left; }
  .footer-nav__link {
    color: #eee;
    padding: 0 10px; }
    .footer-nav__link:hover {
      color: rgba(255, 255, 255, 0.7);
      text-decoration: none; }

.footer__logo {
  height: 100px; }
