@import "abtstracts/functions";
@import "abtstracts/mixins";
@import "abtstracts/variables";
@import "base/animations";


@import "base/base";
@import "base/utilities";

@import "components/button";

@import "pages/home";




/* SECTIONS */

#section_home {
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/1.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: left;
	align-items: center;
}

/* Heading*/

.heading-text-box {
	display: block;
	margin-left: 3rem;
	-webkit-animation-name: moveInleft;
	animation-name: moveInleft;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
}

.heading-primary-main {
	font-family: Merienda, sans-serif;
	font-weight: 700;
	color: white;
}

.heading-primary-sub {
	font-family: Merienda, sans-serif;
	font-weight: 700;
	color: white;
}



