@import "base/base";
@import "components/button";
@import "components/navigation";
@import "components/gallery";
@import "components/icons";

@import "pages/home";

/* SECTIONS */

#section_home {
	height: 100vh;
	background-image: linear-gradient(to right bottom, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('../img/1.png');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	justify-content: left;
	align-items: center;
}

/* Heading*/

.heading-text-box {
	display: block;
	margin-left: 3rem;
}

.heading-primary-main {
	font-family: Merienda, sans-serif;
	font-weight: 700;
	color: white;

	@media screen and(max-width : 600px) {
		font-size: 1rem;
	}
}

.heading-primary-sub {
	font-family: Merienda, sans-serif;
	font-weight: 700;
	color: white;
}

/*ICONS*/

#section-projets {
	padding: 20px 0;
	background-color: #eee;
}

.box-image {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #000;
	overflow: hidden;

	img {
		opacity: 0.7;
		transform: scale(1.2);
		transition: transform 0.4s, opacity 0.4s;

		&:hover {
			opacity: 1;
			transform: scale(1.03);
			background-color: #fff;
		}
	}

	.image1-description {
		position: absolute;
		top: 75%;
		left: 10%;
		z-index: 10;
		color: white;
		font-size: 1.5rem;
		transform: translateY(50px);
		transition: all .3s;
		background-color: rgba(0, 0, 0, .7);
		opacity: 0;
		//padding: 50px 50px;
	}
}

.box-image:hover .image1-description {
	opacity: 1;
	transform: translateY(0);
}

/*SECTION SERVICES */
#section-services {
	padding: 20px 0;
	background-color: #eee;
}

.flyer {
	border-radius: 20px;
}

.services-box {
	margin-top: 5rem;
}
.service {
	margin: 3rem auto;
	h3 {
		color: #007b94;
	}
}

/*Section equipe */
#section-equipe {
	color: #eee;
	padding: 20px 0;
	background-color: #007b94;
}

@media screen and (max-width: 991px) {
	.team {
		float: left;
	}
}

/*CONTACT*/

#section-contact {
	padding: 20px 0;
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 5px;
	border: 2px solid #007b94;
	margin: 10px 5px 10px 0px;
}

*focus {
	outline: none;
}

input[type=submit] {
	cursor: pointer;
}

textarea {
	height: 200px;
	margin-top: 20px;
}

input[type=checkbox] {
	margin: 10px 5px 10px 0px;
}

/*Form validation */

.form-message {
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.success {
	background-color: forestgreen;
}

.error {
	background-color: red;
}
